body {
    color: white;
    background: #384971;
    margin: 0px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    color: #10e5e5;
    border-bottom: solid 1px #10e5e5;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    background: #192b55;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.principal {
    margin: 10%;
    margin-top: 76px;
    border-top: solid 2px #10e5e5;
    border-bottom: solid 2px #10e5e5;
    padding: 10px;
    padding-top: 42px;
    padding-bottom: 55px;
    background: #4b5b81;
    border-radius: 26px;
    
}

.principal-1{
    display: flex;
    margin-left: 40px;
    margin-right: -50px;
}
.principal-2{
    
}

h1{
    font-size: 50px;
    margin-top: 0px;
}

h2{
    width: 400px;
}

p{
    font-size: 25px;
    margin-top: -20px;
    margin-left: 10px;
}

.titulo {
    width: 40%;
    margin-right: 35px;
}
.titulo-2{
    margin-left: 40px;
    margin-bottom: 40px;
}
.video{
    margin-right: -60px;
    padding-right: 47%;
    padding-left: 56px;
    margin-left: -13%;
    margin-bottom: 100px;
}

.outros-videos{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.videos iframe{
    opacity: 0.8;
    border-radius: 25px;
}

.videos iframe:hover{
    opacity: 1.0;
    border: solid 1px #10e5e5;
    
}
.video iframe{
    border-radius: 25px;
}
.video iframe:hover{
    border: solid 1px #10e5e5;
}
