body {
    color: white;
    background: #384971;
    margin: 0px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    color: #10e5e5;
    border-bottom: solid 1px #10e5e5;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    background: #192b55;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    margin: 10%;
    margin-top: 76px;
    border-top: solid 2px #10e5e5;
    border-bottom: solid 2px #10e5e5;
    padding: 10px;
    padding-top: 42px;
    padding-bottom: 155px;
    background: #4b5b81;
    border-radius: 26px;
    display: flex;
}

h1{
    font-size: 50px;
    margin-top: 0px;

}

p{
    font-size: 25px;
    margin-top: -20px;
    margin-left: 10px;

}

.titulo {
    margin-left: 0%;
    margin-right: -41%;
    padding-left: 5%;
}
.video{
    margin-right: 25%;
    margin-left: 36%;
    padding-left: 20%;
}
